body {
  margin: 0;
  font-family: 'Sintony', sans-serif;
}
.logo {
  max-width: 170px;
}
.main-header {
  padding: 24px 0;
}
.menu-item {
  font-family: 'Playfair Display', Serif;
  font-size: 16px;
  font-weight: bold;
  list-style-type: none;
  margin-top: 40px;
}
.menu-item a {
  text-transform: uppercase;
  text-decoration: none;
  color: #040404;
}
.menu-item a:hover {
  color: #fbba17;
  transition: 0.3s;
}
.title {
  font-family: 'Playfair Display', Serif;
  background: url(../img/mainTitle/oranges_main.jpg) no-repeat center top;
  background-size: cover;
  min-height: 450px;
  color: #1633b8;
}
.title-main {
  font-weight: 700;
  margin-top: 150px;
  font-size: 50px;
}
.title-intro {
  margin-left: 60px;
  font-size: 50px;
  margin-top: -20px;
}
.stripe {
  background-color: #4169E1;
  padding: 60px 0px;
}
.call {
  background-color: #fbba17;
  font-family: 'Playfair Display', Serif;
  padding: 30px;
}
.call-us {
  background: url(../img/mainTitle/Phone_icon.png) no-repeat left center;
  font-size: 30px;
  font-weight: 700;
  padding-left: 58px;
  text-transform: uppercase;
}
.call-us a {
  text-decoration: none;
  color: #040404;
}
.call-us a:hover {
  color: #1633b8;
  transition: 0.5s;
}
.about {
  font-family: 'Playfair Display', serif;
}
.about-us {
  margin: 40px 0;
}
.about-us h2 {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 25px;
}
.about-us p {
  font-size: 20px;
}
.about-btn {
  background-color: #fbba17;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  border: none;
}
.about-btn:hover {
  background-color: #1633b8;
}
.about-images {
  text-align: center;
  margin-top: 30px;
}
.about-images-fruit {
  margin: 15px;
  max-width: 220px;
}
@media (max-width: 768px) {
  .logo-wrapper {
    text-align: center;
  }
  .logo-wrapper .logo {
    min-width: 250px;
  }
  .menu-item {
    font-size: 14px;
  }
  .call-us {
    background: none;
    font-size: 25px;
  }
}
@media (max-width: 577px) {
  .call-us {
    padding-left: 30px;
  }
}
