body {
  margin: 0;
  font-family: 'Sintony', sans-serif;
}
.logo {
  max-width: 240px;
}
.main-header {
  padding: 24px 0;
}
.menu-item {
  font-family: 'Playfair Display', Serif;
  font-size: 18px;
  font-weight: bold;
  list-style-type: none;
  margin-top: 40px;
}
.menu-item a {
  text-transform: uppercase;
  text-decoration: none;
  color: #040404;
}
.menu-item a:hover {
  color: #fbba17;
  transition: 0.3s;
}
.title {
  font-family: 'Playfair Display', Serif;
  background: url(../img/mainTitle/oranges_main-min.jpg) no-repeat center top;
  background-size: cover;
  min-height: 450px;
  color: #1633b8;
}
.title-main {
  font-weight: 700;
  margin-top: 150px;
  font-size: 50px;
}
.title-intro {
  margin-left: 60px;
  font-size: 50px;
  margin-top: -20px;
}
.stripe {
  background-color: #4169E1;
  padding: 40px 0px;
}
.call {
  background-color: #fbba17;
  font-family: 'Sintony', Serif;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.call-us {
  background: url(../img/mainTitle/Phone_icon.png) no-repeat left center;
  font-size: 25px;
  font-weight: 700;
  padding-left: 58px;
  text-transform: uppercase;
}
.call-us a {
  text-decoration: none;
  color: #040404;
}
.call-us a:hover {
  color: #1633b8;
  transition: 0.5s;
}
.about {
  font-family: 'Playfair Display', serif;
}
.about-us {
  margin: 30px 0;
  border: 1px solid #e1e1e1;
  padding: 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.about-us h2 {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 25px;
  text-align: center;
}
.about-us p {
  font-size: 20px;
}
.about-btn {
  background-color: #fbba17;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  border: none;
}
.about-btn:hover {
  background-color: #1633b8;
}
.about-images {
  text-align: center;
  margin-top: 30px;
}
.about-images-fruit {
  margin: 15px;
  max-width: 220px;
}
.apple-img,
.hurma-img,
.pear-img,
.orange-img {
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.apple-img:hover,
.hurma-img:hover,
.pear-img:hover,
.orange-img:hover {
  box-shadow: 0 5px 20px rgba(251, 186, 23, 0.5);
}
.production {
  background: url(../img/production/orange_trees_1.jpg) no-repeat top center;
  font-family: 'Playfair Display', serif;
  padding-top: 50px;
  background-size: contain;
  margin-top: 40px;
  text-align: center;
}
.production-title {
  font-size: 35px;
  color: #FFF;
  text-align: center;
  font-weight: bold;
}
.production-food {
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 130px;
  max-width: 500px;
  margin: 40px 80px;
  min-height: 650px;
  background: white;
}
.production-food-image {
  margin-bottom: 30px;
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}
.production-food-title {
  border-top: 1px solid #e1e1e1;
  font-size: 26px;
}
.production-food-desk {
  font-size: 18px;
  border-bottom: 1px solid #e1e1e1;
  padding: 20px;
  margin-bottom: 30px;
}
.feedback {
  margin: 40px 0;
  font-family: 'Playfair Display', serif;
}
.feedback h4 {
  margin-bottom: 30px;
}
.feedback-img {
  max-width: 600px;
  margin: 0px 30px 30px 30px;
}
.feedback-img img {
  max-width: 600px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.feedback-form {
  border: 2px solid #e1e1e1;
  padding: 40px 50px;
  text-align: center;
  min-height: 450px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.feedback-input {
  display: block;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 17px;
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.feedback-label {
  position: absolute;
  display: inline-block;
  font-size: 13px;
  transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #fff;
}
.form-btn {
  text-align: center;
  background-color: #fbba17;
  border: none;
  width: 100%;
  color: #fff;
  max-height: 60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.footer {
  background: #fbba17;
  color: #93989e;
  font-size: 13px;
  text-transform: uppercase;
  padding: 40px 40px;
  font-family: 'Sintony', serif;
}
.footer-socials {
  padding: 0;
}
.footer-socials-item {
  display: block;
  padding: 0;
  margin: 0;
}
.footer-socials-item_fb {
  width: 52px;
  height: 52px;
  display: block;
  background: #3b5998 url(../img/footer/fb.png) no-repeat center center;
  margin: 0 4px;
  border-radius: 50%;
}
.footer-socials-item_inst {
  width: 52px;
  height: 52px;
  display: block;
  background: white url(../img/footer/insta_1.png) no-repeat center center;
  margin: 0 4px;
  border-radius: 30%;
}
.footer-line {
  background: #93989e;
  height: 1px;
  margin-top: 35px;
}
.footer-credits {
  text-align: center;
  margin-top: 27px;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  text-align: center;
  left: 50%;
  top: 10%;
  background-color: #fbba17;
  transform: translateX(-50%);
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  border: none;
  text-align: center;
  background-color: transparent;
  font-size: 3rem;
  color: #fff;
}
.arrow {
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  top: 50%;
  border: none;
  transform: translateY(-50%);
}
.prev {
  left: 0;
  background: url(../img/arrow-left.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/arrow-right.svg) center no-repeat;
  background-size: 70%;
}
@media (max-width: 992px) {
  .production-food {
    min-height: 570px;
  }
  .logo-wrapper {
    text-align: center;
  }
  .logo-wrapper .logo {
    min-width: 250px;
  }
  .stripe {
    background-color: #4169E1;
    padding: 30px 0px;
  }
}
@media (max-width: 768px) {
  .logo-wrapper {
    text-align: center;
  }
  .logo-wrapper .logo {
    min-width: 250px;
  }
  .menu-item {
    font-size: 14px;
  }
  .call-us {
    background: none;
    font-size: 25px;
  }
  .production-food {
    min-height: 550px;
  }
  .stripe {
    background-color: #4169E1;
    padding: 15px 0px;
  }
}
@media (max-width: 577px) {
  .call-us {
    padding-left: 30px;
    text-align: center;
  }
  .call-us span {
    display: block;
  }
  .production-food {
    min-height: 550px;
  }
}
